name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Clean Pacman
        uses: Platane/snk@v3
        with:
          github_user_name: rockstar-2006

          outputs: |
            output/pacman.svg?color_snake=00f0ff&color_dots=0d1117,161b22,1f6feb,39d353
            output/pacman-dark.svg?color_snake=00f0ff&color_dots=0d1117,161b22,58a6ff,3fb950

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
